In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('../Data/2D/2d.csv')

In [3]:
df

,Unnamed: 0,dataset_name,image_dir,region,image_type,Additional_Info
0,0,Hip MRI hamstring,../Data/2D/Hip MRI hamstring /hip051466.png,Hip,MRI,hamstring
1,1,Hip MRI hamstring,../Data/2D/Hip MRI hamstring /hip050303.png,Hip,MRI,hamstring
2,2,Hip MRI hamstring,../Data/2D/Hip MRI hamstring /hip040801.png,Hip,MRI,hamstring
3,3,Hip MRI hamstring,../Data/2D/Hip MRI hamstring /hip051300.png,Hip,MRI,hamstring
4,4,Hip MRI hamstring,../Data/2D/Hip MRI hamstring /hip051405.png,Hip,MRI,hamstring
...,...,...,...,...,...,...
1163237,1163237,Abdomen CT gallbladder pathology,../Data/2D/Abdomen CT gallbladder pathology/ab...,Abdomen,CT,gallbladder pathology
1163238,1163238,Abdomen CT gallbladder pathology,../Data/2D/Abdomen CT gallbladder pathology/ab...,Abdomen,CT,gallbladder pathology
1163239,1163239,Abdomen CT gallbladder pathology,../Data/2D/Abdomen CT gallbladder pathology/ab...,Abdomen,CT,gallbladder pathology
1163240,1163240,Abdomen CT gallbladder pathology,../Data/2D/Abdomen CT gallbladder pathology/ab...,Abdomen,CT,gallbladder pathology
1163241,1163241,Abdomen CT gallbladder pathology,../Data/2D/Abdomen CT gallbladder pathology/ab...,Abdomen,CT,gallbladder pathology

In [4]:
df['image_type']=df['image_type'].replace("x-ray","X-ray")
df['image_type']=df['image_type'].replace("xRay","X-Ray")
df['image_type']=df['image_type'].replace("Xray","X-Ray")
df['image_type']=df['image_type'].replace("X-Ray","X-ray")
df['image_type']=df['image_type'].str.replace(' ', '')
df['region']=df['region'].str.replace('chest', 'Chest')

In [5]:
unique_class=df['dataset_name'].unique()

In [6]:
def summarize_data(df):
    summary = {
        'X-ray': {},
        'CT': {},
        'MRI': {},

    }
    
    # Filter the dataframe by image type and then perform calculations
    for image_type in summary.keys():
        filtered_df = df[df['image_type'].str.contains(image_type, case=False)]
        
        # Group by 'region' to calculate the statistics for each anatomy
        for region, group in filtered_df.groupby('region'):
            number_of_classes = group['dataset_name'].nunique()
            total_images = len(group)
            average_class_size = int(total_images / number_of_classes) if number_of_classes > 0 else 0
            
            # Populate the summary dictionary
            summary[image_type][region] = {
                '# Classes': number_of_classes,
                'Average class size': average_class_size,
                'Total # image': total_images
            }
    
    return summary

# Calculate the summary statistics
data_summary = summarize_data(df)

# To display or save the summary, you can use pandas DataFrame again or any other preferred format
summary_df = pd.DataFrame.from_dict({(i,j): data_summary[i][j] 
                                     for i in data_summary.keys() 
                                     for j in data_summary[i].keys()},
                                     orient='index')

print(summary_df)

                  # Classes  Average class size  Total # image
X-ray Chest              17                9034         153586
      Spine               8                   8             69
CT    Abdomen            32                4758         152270
      Hand                1               10000          10000
      Head                1               10000          10000
      Lung                6               25421         152528
MRI   Abdomen            26                5529         143755
      Ankle-Foot         25               14446         361158
      Brain              14                3416          47831
      Breast              1                8954           8954
      Hip                14                3672          51417
      Spine               9                7963          71674

In [7]:
summary_df.to_csv('../summary.csv')

In [8]:
#group by image_type, then region
g=df.groupby(['image_type','region','dataset_name'])
#print count of each group
g.count()

                                                              Unnamed: 0
image_type region  dataset_name
CT         Abdomen Abdomen CT Cyst                                  3708  \
                   Abdomen CT Normal                                5077
                   Abdomen CT Stone                                 1377
                   Abdomen CT Tumor                                 2283
                   Abdomen CT abnormal entire organ                  266
...                                                                  ...
X-ray      Spine   Spine Xray osteoporosis                            10
                   Spine Xray other                                    8
                   Spine Xray scoliosis                                8
                   Spine Xray spondylolisthesis                        8
                   Spine Xray vertebral_compression_fracture          10

                                                              image_dir
image_type region  dataset_name
CT         Abdomen Abdomen CT Cyst                                 3708  \
                   Abdomen CT Normal                               5077
                   Abdomen CT Stone                                1377
                   Abdomen CT Tumor                                2283
                   Abdomen CT abnormal entire organ                 266
...                                                                 ...
X-ray      Spine   Spine Xray osteoporosis                           10
                   Spine Xray other                                   8
                   Spine Xray scoliosis                               8
                   Spine Xray spondylolisthesis                       8
                   Spine Xray vertebral_compression_fracture         10

                                                              Additional_Info
image_type region  dataset_name
CT         Abdomen Abdomen CT Cyst                                       3708
                   Abdomen CT Normal                                     5077
                   Abdomen CT Stone                                      1377
                   Abdomen CT Tumor                                      2283
                   Abdomen CT abnormal entire organ                       266
...                                                                       ...
X-ray      Spine   Spine Xray osteoporosis                                 10
                   Spine Xray other                                         8
                   Spine Xray scoliosis                                     8
                   Spine Xray spondylolisthesis                             8
                   Spine Xray vertebral_compression_fracture               10

[154 rows x 3 columns]